html {
  background: #EF2D5E;
  color: #FAFAFA;
  font-family: monospace;
  font-size: 20px;
  padding: 10px 20px;
}
body {
  max-width: 40em;
  line-height: 1.5em;
}
h1 {
  font-weight: 300;
}
a {
  color: #FAFAFA;
  padding: 15px 0;
}
